* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Roboto slab", "san-serif";
    font-size: 18px;
    --red-clr: hsl(0, 98%, 50%);
    --grey-clr: hsl(0, 0%, 60%);
    --black-clr: hwb(0 0% 100%);
    --white-clr: hsl(0, 0%, 100%);
    --smoke-whyte-clr: hsl(0, 0%, 96%);
    --green-clr: green;
}


html {
    scroll-behavior: smooth;

}


body {
    overflow-x: hidden;
    /* background-color: red; */
}

.app {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: auto;
}

ul>li a {
    text-decoration: none;
    color: var(--red-clr);
}

ul>li a:hover {
    color: var(--black-clr);
    border-bottom: 1px solid black;
    transition: 1.5s;
    /* animation: 3s linear 1s infinite running slidein; */
}

nav {
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: var(--red-clr);
}







.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--smoke-whyte-clr);
    margin: auto;
    /* border: 1px solid black; */
    max-width: 100%;
}


.swiper-wrapper {
    margin: auto;
    padding: 100px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: auto;
    padding: 0;
    position: absolute;
}



.swiper {
    width: 100%;
    height: 900px;
    position: relative;
}



.swiper-slide img {
    width: 100%;
    height: 900px;
}



.swiper-slide::after {
    content: "";
    inset: 0;
    z-index: 9;
    position: absolute;
    background-color: var(--black-clr);
    opacity: 0.6;
}


.swiper-slide-mask-text {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    font-family: inherit;
}


.swiper-slide-mask-text h1 {
    font-size: 40px;
    color: white;
    z-index: 999;
}


.swiper-button-prev {
    position: absolute !important;
    left: 5% !important;
}



.swiper-button-next {
    position: absolute !important;
    right: 5% !important;
}




.bell-size {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    margin-inline: 40px;
    margin-block: 40px;
}

.bell-size a {
    text-decoration: none;
    color: var(--black-clr);
}

.bell-size a:hover {
    color: var(--red-clr);
    border-bottom: 1px solid var(--red-clr);
    transition: 1s;
}



.bell-size img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bell-size div>img:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px var(--black-clr);
    transition: 1s;
}



.bell-size h3 {
    text-align: center;
    margin-block: 15px;
}


.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 40px;
}




.history {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
}


.history p {
    align-items: center;
    text-align: center;
    max-width: 400px;
}

.second-section img {
    box-shadow: 0 3px 5px var(--black-clr);
}



.second-section img:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px var(--black-clr);
    transition: 1s;
}





.third-section {
    background-color: var(--grey-clr);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px
}

.third-section-text h1 {
    margin-top: 25px;
}

.third-section-img {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.third-section img {
    width: 218px;
    height: 350px;
    transform: 1s;
    border-radius: 8px;
}

.third-section-img div {
    overflow: hidden;
}

.third-section-img div>img:hover {
    transform: scale(1.1);
    transition: 1s;
    border-radius: none;
}

.third-section-btns {
    display: flex;
    gap: 20px;
}

button a {
    text-decoration: none;
    color: var(--red-clr);
}

/* 
button a:hover {
    color: var(--black-clr);
    transition: 1s;
} */



.third-section-btns button {
    padding: 15px;
    border: none;
    font-size: 20px;
    font-family: "Roboto slab", "san-serif";
    width: 200px;
    border-radius: 5px;

}

.third-section-btns button:hover {
    color: var(--black-clr);
    background-color: transparent;
    border: 1px solid var(--red-clr);
    transition: 1s;

}


.fourth-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px
}



.bell-category {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


.bell-maintenance {
    background-color: var(--grey-clr);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}



.bell-maintenance img:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px var(--black-clr);
    transition: 1s;
}



.bell-maintenance h3 {
    padding: 15px;
}



.bell-maintenance h3 a {
    text-decoration: none;
    color: var(--red-clr);
}


.bell-maintenance h3 a:hover {
    color: var(--black-clr);
    transition: 1s;
}




.production-process {
    background-color: var(--grey-clr);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.production-process img:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px var(--black-clr);
    transition: 1s;
}



.production-process h3 {
    padding: 15px;
}



.production-process h3 a {
    text-decoration: none;
    color: var(--red-clr);
}


.production-process h3 a:hover {
    color: var(--black-clr);
    transition: 1s;
}


.maintenance {
    background-color: var(--grey-clr);
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.maintenance img:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px var(--black-clr);
    transition: 1s;
}


.maintenance h3 {
    padding: 15px;
}




.maintenance h3 a {
    text-decoration: none;
    color: var(--red-clr);

}



.maintenance h3 a:hover {
    color: var(--red-clr);
    transition: 1s;
}




.fourth-section-btns button {
    background-color: var(--grey-clr);
    color: hsl(0, 98%, 51%);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    font-family: inherit;
    width: 200px;
}


.fourth-section-btns button:hover {
    border: 1px solid var(--red-clr);
    background-color: transparent;
    transition: 1s;
}



.fifth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.fifth-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

hr {
    width: 120px;
    color: var(--red-clr);

}

.fifth-section i {
    text-align: center;
    color: var(--red-clr);
}

.fifth-section img {
    border-radius: 12px;
}


.fifth-section-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.fifth-section-img div {
    overflow: hidden;
}

.fifth-section-img div>img:hover {
    transform: scale(1.1);
    transition: 1s;
}


.fifth-secltion-btns button {
    background-color: var(--grey-clr);
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
}


.fifth-secltion-btns button:hover {
    background-color: transparent;
    border: 1px solid var(--red-clr);
    transition: 1s;
}




.sixth-section {
    margin-top: 50px;
}


.sixth-section img {
    position: absolute;
}

.sixth-section-text {
    position: relative;
    left: 10%;
    right: 0;
    padding: 50px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: hsl(0, 0%, 100%);
    /* height: max-content; */
}

.sixth-section-subtext {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.sxith-section-btns {
    margin-top: 30px;
}




.sxith-section-btns button {
    background-color: var(--grey-clr);
    padding: 15px;
    border: none;
    font-size: 20px;
    font-family: "Roboto slab", "san-serif";
    width: 300px;
    border-radius: 5px;
}


.sxith-section-btns button:hover {
    background-color: transparent;
    border: 1px solid var(--red-clr);
    transition: 1s;
}



.seventh-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}


.seventh-section h1 {
    font-size: 50px;
    text-align: center;
    flex-grow: 1;
}

.seventh-section-img {
    display: flex;
    align-items: center;
    gap: 45px;
}

.seventh-section-img div {
    overflow: hidden;
}



.seventh-section-img div>img:hover {
    transform: scale(1.1);
    transition: 1s;

}



.seventh-section-btns button {
    background-color: var(--grey-clr);
    padding: 15px;
    border: none;
    font-size: 20px;
    font-family: "Roboto slab", "san-serif";
    width: 300px;
    border-radius: 5px;
}


.seventh-section-btns button:hover {
    background-color: transparent;
    border: 1px solid var(--red-clr);
    transition: 1s;
}


footer {
    background-color: var(--grey-clr);
    border-top: 6px solid var(--red-clr);
    margin-top: 40px;
}


























@media screen and (max-width: 768px) {
    .app {
        display: flex;
        flex-direction: column;
    }

    .bell-size {
        width: 100%;
        overflow-x: auto;
    }
}